<app-toast [message]="toast.message"></app-toast>

<div class="container my-4">
  <div class="text-center">
    <app-loading [condition]="isLoading"></app-loading>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div *ngIf="!isLoading">
        <div class="card mb-5">
          <div class="card-header d-flex justify-content-between">
            <h5 class="mb-0">Posts</h5>
            <button class="btn btn-primary btn-sm" routerLink="/post/new"><i class="fa fa-plus fa-fw"></i> Create post
            </button>
          </div>
          <div class="card-body p-0">
            <div *ngIf="posts.total === 0">
              <div class="p-4 text-center">
                No posts found 😥
              </div>
            </div>
            <div class="list-group list-group-flush" *ngIf="posts.total > 0">
              <a routerLink="/post/view/{{post._id}}"
                 class="list-group-item list-group-item-action flex-column align-items-start"
                 *ngFor="let post of posts.data">
                <div class="d-flex w-100 justify-content-between">
                  <div class="mb-1">{{ post.title }}</div>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item text-muted">
                      <small><i class="fa fa-user fa-fw"></i> {{ post.user_detail.firstname }} {{
                        post.user_detail.lastname }}
                      </small>
                    </li>
                    <li class="list-inline-item text-muted">
                      <small>{{ timeAgo(post.created_at) }}</small>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
          </div>
        </div>
        <nav *ngIf="posts.total > 0">
          <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{disabled:posts.current_page === 1}">
              <a class="page-link" (click)="setPage(posts.current_page - 1)">Previous</a>
            </li>
            <li *ngFor="let page of getRange(posts.last_page)" class="page-item" [ngClass]="{active:posts.current_page === page}">
              <a class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:posts.current_page === posts.last_page}">
              <a class="page-link" (click)="setPage(posts.current_page + 1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h5 class="mb-0">Addresses</h5>
          <button class="btn btn-primary btn-sm" (click)="createAddy()"><i class="fa fa-plus fa-fw"></i> Create address
          </button>
        </div>
        <div class="card-body pt-3 pb-3">
          <div *ngIf="addys.length === 0">
            <div class="p-2 text-center">
              No addresses found 😥
            </div>
          </div>
            <!-- items being paged -->
            <div *ngFor="let item of pagedItems"><a  (click)="open(item)">{{item}}</a></div>

            <!-- pager -->
          <nav aria-label="pager">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{'disabled':pager.currentPage === 1, 'pager-item':pager}">
                    <a (click)="setPager(1)" class="page-link">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1, 'pager-item':pager}">
                    <a (click)="setPager(pager.currentPage - 1)" class="page-link"> < </a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page, 'pager-item':pager}">
                    <a (click)="setPager(page)" class="page-link">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages, 'pager-item':pager}">
                    <a (click)="setPager(pager.currentPage + 1)" class="page-link"> > </a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages, 'pager-item':pager}">
                    <a (click)="setPager(pager.totalPages)" class="page-link">Last</a>
                </li>
            </ul>
          </nav>

          <!-- <ul class="list-unstyled mb-0" *ngIf="addys.length > 0">
            <li *ngFor="let addy of addys">
              <a data-toggle="modal" href="#editAddressPerms" data-addy="addy" data-perm="connect">{{addy}}</a>

            </li>
          </ul> -->
<!-- https://codepen.io/ionic/pen/tfAzj  -->
          <!-- <app-jw-modal id="custom-modal-1">
            <div class="modal fade" id="editAddressPerms" editAddressPerms tabindex="-1" role="dialog" aria-labelledby="editAddressPermsLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editAddressPermsLabel">Edit Permissions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Address: {{item}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
            <p>Home page text: {{id}}<input type="text" [(ngModel)]="addy" /></p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </app-jw-modal> -->
          
        </div>
      </div>

    </div>
  </div>
</div>
